* {
    padding: 0;
}

*,*:before,*::after {
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400; margin: 0;}

p {
    margin: 0;
}

nav a, nav:visited {
    font-weight: 700;
    font-size: 13px;
    color: #35312E;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.about-sheeping {
    background-color: #F0EEDD;
    padding: 14px 0;
}

.about-sheeping p {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 12px;
}

.logo-section .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 48px;
}

.second-nav{
    display: flex;
    align-items: center;
}

.account {
    height: 35px;
    width: 35px;
    background-color: #C87B5E;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
}

.hamburger {
    display: none;
    width: 35px;
    height: 5px;
    background-color: #C87B5E;
    margin: 6px 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.nav-title {
    margin-right: 35px;
}

.header {
    width: 100%;
    height: 605px;
    background: url('../img/main.png') center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.offer {
    max-width: 248px;
    margin-left: 383px;
}

.subtitle {
    color: #35312E;
    font-size: 16px;
}

.title {
    color: #35312E;
    font-size: 50px;
    margin: 20px auto 57px;
}

.title span {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.btn, .btn:visited {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    display: block;
    background-color: #D37657;
    height: 60px;
    text-align: center;
    padding: 24px 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.btn:hover {
    background-color: #df6a43;
}

.brands {
    background-color: #F5F1E9;
    padding: 42px 0 53px;
}

.brands h2 {
    font-size: 24px;
    font-weight: 700;
    color: #35312E;
    max-width: 629px;
    text-align: center;
    margin: 0px auto;
}

.brands img {
    margin-top: 40px;
}

.brands .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
}

.welcome {
    background-color: #FCFAF6;
    padding: 120px 0;
}

.welcome .wrapper {
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome h2 {
    font-size: 41px;
    font-weight: 700;
    color: #35312E;
    max-width: 400px;
    text-align: center;
}

.welcome p {
    max-width: 650px;
    font-size: 14px;
    color: #4F463F;
    line-height: 1.7em;
}

.pan-construction {
    padding: 70px 0 140px;
    background-color: #FBF6EA;
}

.pan-construction h2 {
    text-align: center;
    margin-bottom: 53px;
    font-size: 35px;
    color: #35312E;
}

.pan-construction ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 345px;
    margin: 0 auto 45px;
}

.pan-construction li {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.orange {
    background-color: #E09D81;
}

.blue {
    background-color: #748EA1;
}

.brown {
    background-color: #B76D47;
}

.green {
    background-color: #7D836E;
}

.red {
    background-color: #C33636;
}

.sand {
    background-color: #CDC7B3;
}

.black {
    background-color: #595752;
    border: 3px solid #E09D81;
}

.white {
    background-color: #D3C2CA;
}

.info-wrapper {
    width: 706px;
    font-size: 12px;
    color: #6E6259;
    margin: 0 auto;

}

.pan-construction p {
    text-align: center;
    position: absolute;
    color: #6E6259;
}

.pan-construction img {
    margin-left: 144px;
}

.modular {
    width: 135px;
    margin: 83px 0 0 0;
}

.beechwood {
    width: 158px;
    margin: 36px 0 0 522px;
}

.easy {
    width: 107px;
    margin: 357px 0 0 107px;
}

.nesting {
    width: 171px;
    margin: 284px 0 0 514px;
}

.exclusive {
    width: 172px;
    margin: 472px 0 0 0;
}

.stay {
    width: 160px;
    margin: 443px 0 0 561px;
}

.stock {
    background-color: #FCFAF6;
    padding: 73px 0 105px;
    text-align: center;
}

.stock h2 {
    font-weight: 700;
    font-size: 33px;
    color: #35312E;
}

.stock .description {
    font-size: 18px;
    max-width: 441px;
    color: #4F463F;
    margin: 30px auto 0;
}

.stock .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 306px;
}

.card img {
    margin-bottom: 15px;
}

.card h3, .card h4 {
    margin-bottom: 5px;
    font-size: 14px;
}

.card h4 {
    color: #6E635A;
}

.card h4 span {
    font-size: 13px;
}

.card p {
    width: 182px;
    font-size: 11px;
    line-height: 1.7em;
    height: 79px;
}

.card ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.bowl ul {
    width: 100px;
}

.card li {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.bowl .orange {
    border: 3px solid #6E6259;
}

.bowl .black {
    border: none;
}

.glass ul {
    width: 140px;
}

.glass .sand {
    background: #CCBD9E;
    border: 3px solid #6E6259;
}

.glass .brown {
    background: #B55900;
}

.glass .green {
    background: #5B653B;
}

.glass .white {
    background-color: #fff;
    border: 1px solid rgba(110, 99, 90, 0.3);
}

.plate ul {
    width: 100px;
}

.plate .orange {
    border: 3px solid #6E6259;
}

.plate .black {
    border: none;
}

.pan ul {
    width: 300px;
}

.pan .orange {
    border: 3px solid #6E6259;
}

.pan .black {
    border: none;
}

.pans {
    display: flex;
    flex-direction: row;
    background-color: #F5F1E9;
}

.pans .comment {
    width: 95%;
}

.pans .comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 109px 0 0;
}

.pans p {
    font-size: 11px;
}

.pans .sink {
    font-size: 24px;
    font-weight: 700;
    max-width: 450px;
    margin: 33px 0 61px;
    line-height: 1.7em;
}

.follow-btn, .follow-btn:visited {
    color: #4F463F;
    font-size: 12px;
    font-weight: 700;
    display: block;
    background-color: #fff;
    height: 54px;
    width: 206px;
    text-align: center;
    padding: 23px 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.follow-btn:hover {
    background-color: rgb(255, 246, 232);
}

.info-section {
    background-color: #6C674D;
    padding: 80px 0 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.touch {
    padding-left: 48px;
    width: auto;
}

.touch h3 {
    font-weight: 700;
    font-size: 23px;
    color: #F5F1E9;
    margin-bottom: 15px;
}

.touch p {
    font-size: 14px;
    color: #FCFAF6;
    margin-bottom: 62px;
    width: 97%;
    line-height: 1.7em;
}

.touch input {
    border: none;
    background-color: #FCFAF6;
    height: 60px;
    width: 347px;
    padding: 20px;
}

.touch input::placeholder {
    font-weight: 700;
    font-size: 13px;
}

.touch button {
    border: none;
    background-color: #FCFAF6;
    height: 60px;
    width: 101px;
    margin-left: -4px;
    text-align: center;
}

.info-section .info {
    max-width: 97%;
}

.info .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.column-one, .column-two, .column-three {
    width: 150px;
}

.info ul {
    margin: 0;
}

.info li {
    color: #F5F1E9;
    opacity: 60%;
    font-size: 16px;
    line-height: 31px;
    width: 122px;
    margin-top: 13px;
}

.info .navigation li:first-child {
    font-size: 12px;
    font-weight: 700;
    margin-top: 0;
    opacity: 100%;
}

.location p {
    color: #F5F1E9;
    font-size: 12px;
    font-weight: 700;
    margin: 59px 0 10px;
}

.location .canada {
    margin-right: 25px;
}

.last-section {
    padding: 30px 48px;
    background-color: #807C62;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(252, 250, 246, 0.5);
}

.trivia ul {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.trivia li:first-child {
    margin-left: 0;
}

.trivia .rectangle {
    background-color: #FCFAF6;
    height: 20px;
    width: 80px;
    left: 0%;
    right: 0%;
    top: 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1400px) {
    .pans {
        flex-direction: column;
    }
    .pans .comment {
        padding: 100px 0;
    }
    .pan-food {
        display: none;
    }
    .welcome .wrapper {
        margin: 0 90px;
    }
    .offer {
        margin-left: 300px;
    }
}

@media screen and (max-width: 1200px) {
    .stock .wrapper {
        max-width: 742px;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .brands .wrapper {
        justify-content: space-between;
        margin: 0 100px;
    }
    .welcome .wrapper {
        flex-direction: column;
        margin: 0 auto;
    }
    .welcome h2 {
        max-width: 95%;
        margin-bottom: 30px;
    }
    .welcome p {
        max-width: 95%;
    }
    .offer {
        margin-left: 230px;
    }
}

@media screen and (max-width: 992px) {
    .brands .wrapper {
        justify-content: space-around;
        margin: 0 auto;
    }
    .touch {
        padding-left: 0;
        text-align: center;
    }
    .info-section {
        flex-direction: column;
    }
    .info {
        margin: 50px 0 0 50px;
    }
    .offer {
        margin-left: 130px;
    }
}

@media screen and (max-width: 768px) {
    .info-wrapper{
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 706px;
        width: auto;
    }
    .info-wrapper img {
        margin: 0;
        width: 100%;
    }
    .info-wrapper p {
        display: none;
    }
    .brands .wrapper {
        max-width: 420px;
        flex-wrap: wrap;
    }
    .offer {
        margin-left: 100px;
    }
    .last-section {
        flex-direction: column;
    }
    .nav-title, .account {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .trivia {
        width: 90%;
    }
    .trivia ul {
        margin-top: 20px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .trivia li {
        margin-top: 15px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 576px) {
    .info .navigation {
        max-width: 97%;
        margin: 0 auto;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .trivia ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .offer {
        margin: 0 auto;
    }
    .pan-construction ul {
        width: 100%;
    }
    .brands .wrapper {
        max-width: 312px;
    }
    .touch form {
        margin: 0 auto;
        width: 95%;
    }
    .touch input {
        width: calc(100% - 150px);
    }
    .column-one, .column-two {
        margin-bottom: 20px;
    }
}

